li a {
    color: wheat;
    font-size: large;
}
body {
    background: white url("images/background.gif");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    border: 2px solid;
    border-color: cadetblue;
    
}